.day
  position: relative
  vertical-align: top
  height: 5em

  .h, .g
    display: block

  .h
    text-align: right
    font-size: 2em

  .g
    text-align: left
    position: absolute
    bottom: 0.25em
    font-size: 1em

  &.filler
    .h, .g
      color: #aaa