table
  width: 100%
  margin-bottom: 1em
  border:
    width: 0px
    spacing: 0px

  tbody tr td
    width: 1/7 * 100%
    background-color: white
    padding: 0
    margin: 0
    text-overflow: ellipsis


table#days
  tbody tr td
    font-weight: bold
    text-align: center


table.month
  border: 1px solid #aaa

  tbody tr td
    color: #555
    border: 1px solid #aaa
    padding: 0.5em 0.25em

    &:hover
      background-color: #eee
      border-color: #222
      color: #222
