<footer>
  <div class="row">
    <div class="small-12 columns">
      <p><a href="https://github.com/mygulamali/mumineen_calendar/blob/master/LICENSE.txt"><i class="icon-MIT"></i></a>
      <%= Date.today.year %>, <a href="http://www.gulamali.net/" title="gulamali.net">Murtaza Gulamali</a>. I made this. Some rights reserved. <a href="https://github.com/mygulamali/mumineen_calendar">Fork me on GitHub</a>.</p>
    </div>
  </div>
</footer>
