<header>
  <div class="row">
    <div class="small-12 columns">
      <%= image_tag("he.png", alt: "Mumineen Calendar", class: "logo") %>
      <h1>Mumineen Calendar</h1>
      <p>A Hijri calendar for Dawoodi Bohra Muslims</p>
    </div>
  </div>
</header>